@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100;1,400&display=swap");
body {
  background: #222e35;
  color: #666;
  font-family: "dip";
}
@font-face {
  font-family: "dip";
  src: url(../asset/SegoeUI.ttf);
}
@layer components {
  .buttonSection {
    @apply px-2 py-1 border-gray-500 select-none border-[1px] rounded-full transition-all opacity-[0.8] hover:border-gray-400  hover:text-gray-300 hover:opacity-[1] scale-100 hover:scale-105;
  }
}
